<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Examples</title>
    <script src="./assets/vue.js"></script>
    <style type="text/css">
      .app {
        padding: 20px 24px;
      }
      .task {
        padding: 6px 12px;
      }
      .task:hover {
        color: #69c;
      }
      .task-text.finished {
        color: #ccc;
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app" class="app">
      <fieldset>
        <legend>To-do list</legend>
        Add Task:
        <!-- Bind input value with newTaskContent by v-model  -->
        <input type="text"  v-model="newTaskContent"/>

        <!-- Bind click event with addTask() by v-bind  -->
        <button @click="addTask" >add</button>
        <ul>
           <li v-for="(item,index) in todos" class="task">
           <input type="checkbox" @click="removeTask" />
           <span class="task-text" >
                 {{item.content}}
           </sapn>
           </li>

        </ul>
      </fieldset>
    </div>  

    <script type="text/javascript">
      let app = new Vue({
        el: "#app",
        data: {
          newTaskContent: "",
          todos: [{ content: "My first task", isFinished: false }]
        },
        methods: {
          addTask() {
            if (this.newTaskContent === "") {
              return
            }

            let newTask = this.createTaskObject(this.newTaskContent)

            this.todos.push(newTask)

            this.newTaskContent = ""
          },
          createTaskObject(_taskContent) {
            let taskContent = _taskContent;
            return { content: taskContent, isFinished: false }
          },
          removeTask(todo) {
            this.todos.splice(this.todos.indexOf(todo), 1)
          }
        }
      })
    </script>
  </body>
</html>
